<div class="container">
  <p> <strong> <%=params[:id] %> </strong> Invoice</p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total hours</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>
<% @client.each do |client|%>
<% @project.each do |project|%>
<% if client.id == project.id%>

      <tr>
        <th scope="row">
          <%= client.firstname %> 
          <%= client.lastname%>
        </th>
        <td>
          <%= client.billing_rate%>
        </td>
        <td>
          <%= time_diff(project.start_time, project.end_time)%> hrs    
        </td>
        <td>$
           <% time = time_diff(project.start_time, project.end_time)%>
          <%= cost = total_cost(client.billing_rate, time)%>
        </td>
       
<% end %>   
<% end %>
<% end %>
 <tr>
        <th> </th>
        <td> </td>
        <td><strong>Total: </strong> </td>
        <td>$ <%= total(@client, @project)%> </td>
        </tr>
      </tr>
    </tbody>
</table>
</div>