<div class="container">
  <p> <strong> <%=@project.company %> </strong> Invoice</p>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Employee Name</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total hours</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">
          <%= @timesheet.firstname %> 
          <%= @timesheet.lastname%>
        </th>
        <td>
          <%= @timesheet.billing_rate%>
        </td>
        <td>
          <%= time_diff(@project.start_time, @project.end_time)%> hrs    
        </td>
        <td>$
           <% time = time_diff(@project.start_time, @project.end_time)%>
          <%= cost = total_cost(@timesheet.billing_rate, time)%>
        </td>
      </tr>
    </tbody>
</table>
</div>