<div class="container">
<h3>Your timesheet for <%= @project.company %></h3>
<hr>
<p> 
 <%= @timesheet.firstname%>
 <%= @timesheet.lastname%>
</p>

<p> Biliing rate: 
 $<%= @timesheet.billing_rate%>
</p>
<p>Project company:  
<%= @project.company%>
</p>
<p>Project date:  
<%= @project.date%>
</p>
<p>Start time: 
<%= Time.at(@project.start_time).utc.strftime "%H:%M" %>
</p>
<p>End time:
<%= Time.at(@project.end_time).utc.strftime "%H:%M" %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet), 
                  :class => 'btn btn-info'%>

<%= link_to 'Delete', timesheet_path(@timesheet),
                    method: :delete,
                    data: {confirm: 'Are you sure'},
                    :class => 'btn btn-danger' 
%>
</div>