<!DOCTYPE html>
<html>
  <head>
    <title>Billingapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto ml-5" >
      <li class="nav-item">
      <%= link_to 'Timesheets', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to 'Invoices', invoices_path, class: 'nav-link' %>
      </li> 
    </ul>
</nav>

    <%= yield %>
  </body>
</html>
